.course-2 {
    display: flex;
    justify-content: space-evenly;
    height: 780px;
    padding: 80px 0;

    width: 90%;
    min-width: 1200px;
    margin: 0 auto;
    /* margin: 0 100px; */
}

.content-2_heading {
    width: 100%;
    height: 225px;
    background-image: linear-gradient(rgba(56, 37, 92, 0.8), rgba(56, 37, 92, 0.8));
    display: flex;
}

.content-2_heading h4 {
    font-size: 44px;
    font-weight: bold;
    color: #fff;
    margin: auto;
}

.content-2 .image-course-2 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
}

.img-container-course-2 {
    width: 640px;
    min-width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.img-container-course-2 #content-2-img1 {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.img-container-course-2 #content-2-img2 {
    width: 220px;
    height: 350px;
    margin-bottom: 20px;
    /*padding-top: 40px;*/
    transform: translateY(15%);
}

.img-container-course-2 #content-2-img3 {
    width: 396px;
    height: 208px;
    margin-right: 20px;
}

.img-container-course-2 #content-2-img4 {
    width: 220px;
    height: 208px;
    transform: translateY(25%);
}

.course-2 .image-course-2 .img-container-course-2 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: rgb(56 37 92 / 15%) 0 0 24px;
    /*margin: 5px 5px;*/
}

.course-2 .description-course {
    flex-basis: 40%;
    font-size: 19px;
    color: rgb(56, 37, 92);

}

.course-2 .description-course h4 {
    font-size: 44px;
    font-weight: bold;
    color: rgb(56, 37, 92);
    padding-top: 72px;
}

.course-2 .description-course >p {
    margin: 10px;
    width: 700px;
}

.course-2 .detail-course-2 {
    margin-left: 40px;
    margin-right: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-between;
    list-style: none;
}

.detail-course-2 .heading-detail {
    display: flex;
    margin-top: 30px;
    margin-bottom: 12px;
}

.detail-course-2 .heading-detail i {
    color:rgb(255, 88, 160);
    font-size: 28px;
    padding-right: 12px;
    margin-left: -40px;
}

.course-2 .button-course button {
    margin-top: 30px;

    height: 50px;
    background-image: linear-gradient(-180deg, rgb(255, 202, 104) 5%, rgb(255, 88, 160) 90%);
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 0 45px;
}

.course-2 .button-course button:hover {
    background: rgb(255, 202, 104) ;

}